[submodule "mesh_calculator"]
	path = mesh_calculator
	url = https://github.com/FlameFlameFlame/mesh-calculator.git
[submodule "mesh-generator"]
	path = mesh-generator
	url = https://github.com/FlameFlameFlame/mesh-generator.git
[submodule "mesh-backend"]
	path = mesh-backend
	url = https://github.com/FlameFlameFlame/mesh-backend.git
